@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
div.container1{
    display: flex;
    justify-content: center;
    padding-top: 1px;
    gap: 2px 3px;
    
    
    
    
    

    

}
div.content1{
    border: 1px solid green;
    background-color: darkgray;
    width: 50px;
    height: 50vh;
    

}